form {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

button:not(:disabled) {
  background-color: #11ff00;
}

input {
  padding: 4px 8px;
}
