body {
  margin: 0.5em;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 40rem) {
  body {
    margin: 1rem;
  }
}

header,
main {
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
  padding: 0;
}
